/* Homepage */

.homepage{
position: relative;
background: #FFFFFF;
text-align: center;
}

/* figure this out */
.title{
  padding: 10%;
  font-family: "Open-Sans";
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.homepage-card{
  margin: 10%;
}

.card-link{
  color: #FFFFFF;
}

.kitchen-color{
  background-color: #1B8C42;
}

.kitchen-card-link:hover{
  color: #9FCEAF;
}

.bathroom-color{
  background-color: #1D78E3;
}

.bathroom-card-link:hover{
  color: #60A0EB;
}

.garden-color{
  background-color: #8C1DE3;
}

.garden-card-link:hover{
  color: #C58EF1;
}

.question-button{
  margin: 8%;
}
